{% extends 'mainapp/layout.html' %}
{% load static %}

{% load cust_tags %}
{% block content %}
<div class="container content">
  <div class="col-sm-8 col-sm-offset-2">
{% if empty %}
<h1 >{{msg}}</h1>
{% else %}
    <table class="table">
      <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total for Product</th>
        <th></th>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{ cart.total }}</td>
        </tr>
      </tfoot>
      {% for item in cart.cartitem_set.all %}
      <tr>
        <td>{{item.product.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{ item.product.price }}</td>
        <td>{% multiply item.quantity item.product.price %}</td>
        <td><a href="{% url 'carts:update_cart' item.product.slug %}?qty=0">Remove</a></td>
      </tr>
      {% endfor %}
    </table>
{% endif %}
</div>
<div class="btn-group content" >
  <a href="{% url 'orders:checkout' %}">Checkout</a>
  <a href="/">Go Back</a>
</div>
</div>
{% endblock %}
