{% extends 'mainapp/layout.html' %}
{% load static %}

{% load cust_tags %}
{% block content %}
<div class="container content">
  <div class="col-sm-8 col-sm-offset-2">
    <table class="table">
      <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total for Product</th>
        <th></th>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{ order.final_total }}</td>
        </tr>
      </tfoot>
      {% for item in cart %}
      <tr>
        <td>{{item.product.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{ item.product.price }}</td>
        <td>{% multiply item.quantity item.product.price %}</td>
      {% endfor %}
    </table>
</div>
</div>
{% endblock %}
