{% extends 'mainapp/layout.html' %}
{% load static %}

{% block content %}

<div class="container">

      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Discover restaurants delivering to your doorstep</h1>
            <p class="lead text-muted">Place order on the zappy app</p>
            <!-- <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p> -->
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              {% for product in products %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h5><a href="{% url 'mainapp:detail' product.slug %}">{{ product.title }}</a></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <label>price: {{ product.price }}</label>
                    <div class="d-flex justify-content-between align-items-center float-right">
                      <form class="form float-right" action="{% url 'carts:update_cart' product.slug %}" method="get">
                        <input type="number" name="qty" value="1">
                        <input type="submit" name="" value="Add To Cart">
                      </form>
                      <!-- <small class="text-muted">9 mins</small> -->
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </main>
</div>
{% endblock %}
